In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error, mean_absolute_error

In [2]:
# Load the dataset
df = pd.read_csv("./USDT.csv")

# Drop the unnecessary columns.
df.drop(['Open', 'High', 'Low', 'Change %'], axis=1, inplace=True)

# Convert the "Date" column to datetime format
df['Date'] = pd.to_datetime(df['Date'], format='%d-%b-%y')

# Format the 'Date' column
# df['Date'] = df['Date'].dt.strftime('%Y-%m-%d')
                                    
# Sort the DataFrame by date
df = df.sort_values('Date')

# Set Date index
df.set_index('Date', inplace=True)

df

             Price     Vol.
Date
2017-12-01  1.0100  457.32K
2017-12-02  0.9959  970.82K
2017-12-03  0.9977    1.30M
2017-12-04  1.0000    2.91M
2017-12-05  1.0000    1.74M
...            ...      ...
2023-03-28  1.0001  135.75M
2023-03-29  0.9999  169.26M
2023-03-30  1.0000  139.94M
2023-03-31  1.0001  143.86M
2023-04-01  1.0002   51.66M

[1947 rows x 2 columns]

In [10]:
# Import necessary libraries
from pydlm import dlm, trend, seasonality, dynamic, autoReg, longSeason

# Create a DLM model
myDLM = dlm(df['Price'])

# Add a trend component
myDLM = myDLM + trend(degree=1, discount=0.9, name='trend')

# Add a seasonality component
myDLM = myDLM + seasonality(period=30, discount=0.9, name='seasonality')

# Fit the model
myDLM.fit()

# Use the model to make predictions
prediction = myDLM.predict(30)

# Print the predictions
print(prediction)

Initializing models...
Initialization finished.
Starting forward filtering...
Forward filtering completed.
Starting backward smoothing...
Backward smoothing completed.
(matrix([[1.01349696]]), matrix([[18.51633209]]))